<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/escalade</property>
        <property name="connection.username">admin</property>
        <property name="connection.password">admin</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="dialect"> org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <!-- mapping files -->        
        <mapping class="org.oc.escalade.modele.Membre"></mapping>
        <mapping class="org.oc.escalade.modele.Commentaire"></mapping>
        <mapping class="org.oc.escalade.modele.Location"></mapping>
        <mapping class="org.oc.escalade.modele.Secteur"></mapping>
        <mapping class="org.oc.escalade.modele.Site"></mapping>
        <mapping class="org.oc.escalade.modele.Topo"></mapping>
        <mapping class="org.oc.escalade.modele.Voie"></mapping>
       
    </session-factory>
</hibernate-configuration>